//fancybox horisontal  list images

.myFancyBox {
    .fancybox-thumbs {
        top: auto;
        width: auto;
        bottom: 0;
        left: 0;
        right: 0;
        height: 95px;
        padding: 10px 10px 5px 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.3);
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 0 !important;
        bottom: 95px;
    }

    .fancybox-thumbs-x .fancybox-thumbs__list {
        margin: 0 auto;
    }
    .fancybox-thumbs__list a:before {
        border-color: blue;
    }
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0 !important;
    bottom: 95px;
}

@media (max-width: 576px) {
    .myFancyBox .fancybox-bg,
    .fancybox-inner,
    .fancybox-outer,
    .fancybox-stage {
        right: 0 !important;
    }
}
