 <div class="contacts__form">
                    <div class="contacts__form-title">Залишити повідомлення</div>
                    <form>
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="input__field error">
                                    <input class="form-input" type="text" name="name">
                                    <label class="floating-label" for="name">Ім'я*</label>
                                    <div class="valid-feedback">текст помилки</div>
                                </div>
                            </div>
                             <div class="col-xl-6 col-12">
                                 <div class="input__field">
                                    <input class="form-input" type="text" name="phone">
                                    <label class="floating-label" for="phone">Телефон</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                             <div class="col-xl-6 col-12">
                                 <div class="input__field">
                                    <input class="form-input" type="text" name="surname">
                                    <label class="floating-label" for="surname">Прізвище</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                             <div class="col-xl-6 col-12">
                                 <div class="input__field">
                                    <input class="form-input" type="text" name="email">
                                    <label class="floating-label" for="email">E-mail</label>
                                    <div class="valid-feedback"></div>
                                </div>
                            </div>
                             <div class="col-xl-12 col-12">
                                 <div class="input__field">
                                    <textarea class="form-textarea" name="massage" cols="30" rows="10"></textarea>
                                    <label class="floating-label" for="massage">Повідомлення</label>
                                 </div>
                            </div>
                             <div class="col-md-6 col-12">
                                 <button type="submit" class="button button_help_y">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2881_772)">
                                    <path d="M16 2V10C16 11.1 15.1 12 14 12H9.5V15C9.5 15.961 8.27661 16.3688 7.7 15.6L5 12H2C0.899 12 0 11.1 0 10V2C0 0.9 0.899 0 2 0H14C15.1 0 16 0.9 16 2Z" fill="#2C5EA7"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2881_772">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                    Надіслати</button>
                             </div>
                        </div>
                    </form>
                </div>
